@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
  padding-top: 60px;
  padding: 20px;
  position: relative;
  background-color: rgba(255, 229, 195, 0.815);
}

.main::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://static.vecteezy.com/ti/fotos-gratis/p2/3335646-fundo-branco-e-papel-de-parede-por-textura-de-papel-amassado-gratis-foto.jpg");
  opacity: 0.4;
  background-size: cover;
  z-index: 0;
}

.cto {
  width: 100%;
  min-width: 100px;
  max-width: 800px;
  margin-bottom: 30px;
  z-index: 9999;
  user-select: none;
}

.cto > h1 {
  font-size: clamp(40px, 5vw, 100px);
  font-family: "Poppins";
  font-weight: 400;
  width: 100%;
  min-width: 200px;
  max-width: 800px;
  color: #5a241c;
  text-align: center;
}

.cto > h2 {
  font-size: clamp(16px, 7vw, 30px);
  text-align: center;
  font-weight: bold;
  background: linear-gradient(120deg, #2e070d, #c73e53);
  background-clip: text;
  color: transparent;
  font-family: "Cormorant SC";
  margin-bottom: 20px;
}

.cto > p {
  font-family: "Poppins";
  color: rgb(145, 145, 145);
  text-align: center;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.buttons button:nth-child(1) {
  background-color: #2e070d;
  color: white;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.buttons button:nth-child(2) {
  background-color: transparent;
  border: 2px solid #2e070d;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.mockup {
  z-index: 1;
}

@media screen and (width < 845px) {
  .main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .cto {
    width: 100%;
    min-width: 100px;
    max-width: 800px;
    padding-top: 120px;
  }
}
