@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.header {
  position: fixed;
  top: 0;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
  z-index: 9999;
  border-bottom: 1px solid rgba(128, 128, 128, 0.253);
  backdrop-filter: blur(5px);
}

.header > a > img {
  width: 60px;
}

.header > nav > ul {
  gap: 20px;
  display: flex;
  color: #f4959196;
}

.header > nav > ul {
  gap: 20px;
  display: flex;
  color: #ffffff96;
  color: black;
}

.header > nav > ul > li {
  cursor: pointer;
  position: relative;
}

.header > nav > ul > li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.header > nav > ul > li:hover::after {
  transform: scaleX(1);
}

.loginLink {
  background-color: #240c05;
  color: white;
  padding: 5px;
  border-radius: 30px;
  width: 150px;
  transition: 0.2s;
  text-align: center;
}

.loginLink:hover {
  background-color: #6c201e;
}
